* {box-sizing: border-box;}

body {
    font-size: 1.3em;
    font-family: "Helvetica", "Ubuntu", "Droid Sans", sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.headerbar {
    background: #000;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px #000;
    margin-bottom: 2em;
}

.headerbar > :first-child {
    margin-left: 1em;
}



.headerbar-logo-container {
    max-height: 3em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbar-logo-container a:hover {
    background: transparent;
}

.headerbar-logo {
    width: 3.6em;
    filter: brightness(90%);
    margin-top: 0.5em;
}
.headerbar-logo:hover {
    filter: brightness(100%);
}

.headerbar-text {
    color: #fff;
    font-size: 0.7em;
    margin-left: 0.5em;
}

.headerbar-nav {
    display: flex;
    gap: 5px;
    margin-right: 1em;
    justify-content: end;
    align-items: center;
}

.headerbar-nav a {
    padding: 0.5em;
    color: #e0dfdb;
}
.headerbar-nav a:hover {
    background-color: #ef5033;
    color: #fff;
}

ul {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 0.2em;
    padding-bottom: 0.1em;
}

a:hover {
    color: white;
    background-color: #ef5033;
}

a.button {
    color: white;
    background-color: #ef5033;
    font-size: 2em;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    padding: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-align: left;
    z-index: 3;
}

a.button:hover {
    background-color: #ef5033;
    text-decoration: underline;
}

@media screen and (max-width: 1080px) {
    .headerbar > :first-child {
        margin-left: 0;
    }
    .headerbar > :last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .headerbar {
        height: auto;
    }

}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .headerbar > :first-child {margin: 0;}
    .headerbar, .headerbar-nav {
        flex-direction: column;
    }
    .headerbar-nav {
        margin-right: 0;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .headerbar-nav {
        flex-wrap: wrap;
    }
}
