body {
	font-size: 16pt;
	top: 0;
	margin-left: 10px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Helvetica", "Ubuntu", "Droid Sans", sans-serif;
	text-decoration: none;
	color: #000;
	background: url("images/cola-bg.png") repeat-x;
	background-color: #fff;
}

.bottom-text-box {
	position: absolute;
	bottom: 6px;
	right: 6px;
	left: 6px;
	color: gray;
}

ul {
	list-style-type: none;
}

.pagetop {
	position: relative;
	top: 0;
	text-align: right;
}

.pagetop a:hover {
	background-color: transparent;
}

.sitelinks {
	position: relative;
	top: 10;
	font-weight: bold;
}

a:link { color: #666; text-decoration: none; }
a:visited { color: #666; text-decoration: none; }
a:hover { color: black; text-decoration: none; background-color: #f80; }

.downloads {
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
	font-size: 0.8em;
	margin: 6px;
	color: #000;
	background-color: #ffe9b7;
	position: relative;
	top: 10;
	z-index: 2;
}

.downloads img { border: none; }
.downloads a:link { text-decoration: underline; background-color: transparent; }
.downloads a:visited { text-decoration: underline; background-color: transparent; }
.downloads a:hover { text-decoration: underline; background-color: transparent; }

.downloads-box {
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	top: 113px;
	padding-top: 6px;
	right: 6px;
	color: #fff;
	background-color: #111;
	text-align: center;
}

.screenshots img {
	border: 1px solid gray;
}
