* {box-sizing: border-box;}

body {
    font-size: 16pt;
    font-family: "Helvetica", "Ubuntu", "Droid Sans", sans-serif;
    text-decoration: none;
    color: #d0d0d0;
    background-color: #202020;
    margin: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #368ce2;
    padding: 0.2em;
    padding-bottom: 0.1em;
}

a:hover {
    color: white;
}

img {
    border: 0;
}

ul {
    list-style-type: none;
}

.headerbar {
    background: #000;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px #000;
    margin-bottom: 1em;
}

.headerbar > :first-child {
    margin-left: 1em;
}

.headerbar-logo-container {
    max-height: 3em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbar-logo-container a:hover {
    background: transparent;
}

.headerbar-logo {
    width: 3.6em;
    filter: brightness(90%);
    margin-top: 0.5em;
}
.headerbar-logo:hover {
    filter: brightness(100%);
}

.headerbar-text {
    color: #fff;
    font-size: 0.7em;
    margin-left: 0.5em;
}

.headerbar-nav {
    display: flex;
    gap: 5px;
    margin-right: 1em;
    justify-content: end;
    align-items: center;
}

.headerbar-nav a {
    padding: 0.5em;
    color: #e0dfdb;
}
.headerbar-nav a:hover {
    color: white;
    background-color: #368ce2;
}

.button a {
    border-radius: 0.7em;
    color: white;
    background-color: #368ce2;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    padding: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-align: left;
    z-index: 3;
}

.button {
    margin: 1.5em;
}

.button a:hover {
    color: #368ce2;
    background-color: white;
}

.code {
    font-family: monospace;
}

.screenshot {
    clear: both;
    text-align: center;
    overflow: hidden;
}

.screenshot img {
    width: 60%;
}

.screenshot a:hover {
    background-color: transparent;
}

.page {
    text-align: left;
}

.top-margin {
    margin-top: 2em;
}

.center {
    text-align: center;
}

.caption {
    font-variant: small-caps;
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
}

.downloads-box {
    font-weight: bold;
    color: #d0d0d0;
    background-color: #368ce2;
    text-align: center;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 310px;
}

.downloads {
    font-weight: normal;
    background-color: #d0d0d0;
    color: #373737;
    border-radius: 8px;
    padding: 6px;
    font-size: 0.8em;
    margin: 6px;
    position: relative;
    z-index: 3;
}

.downloads a {
    text-decoration: none;
}

.downloads a:hover {
    background-color: #368ce2;
    border-radius: 0.5em;
}

.imglink a:hover {
    background-color: transparent;
}

@media screen and (max-width: 1080px) {
    .headerbar > :first-child {
        margin-left: 0;
    }
    .headerbar > :last-child {
        margin-right: 0;
    }
    .caption {
        margin-left: 10%;
    }
    .screenshot img {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .headerbar {
        height: auto;
    }
    .caption {
        margin-left: 5%;
    }
    .screenshot img {
        width: 90%;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .headerbar > :first-child {margin: 0;}
    .headerbar, .headerbar-nav {
        flex-direction: column;
    }
    .headerbar-nav {
        margin-right: 0;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .headerbar-nav {
        flex-wrap: wrap;
    }
}
