body {
	font-size: 16pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 65px;
	margin-bottom: 0;
	font-family: "Helvetica", "Ubuntu", "Droid Sans", sans-serif;
	text-decoration: none;
	color: #333;
	background-color: #fff;
}

.logo-top {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	position: absolute;
	z-index: -1;
	background-color: black;
	color: black;
	height: 54px;
}

ul {
	list-style-type: none;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #333;
	padding-left: 3px;
	padding-right: 3px;
}

a:hover {
	color: white;
	background-color: #085f00;
}

a.button {
	color: white;
	background-color: #085f00;
	font-size: 2em;
	font-weight: bold;
	color: white;
	white-space: nowrap;
	padding: 0.5ex;
	padding-left: 1ex;
	padding-right: 1ex;
	text-align: left;
	z-index: 3;
}

a.button:hover {
	background-color: #10af00;
}
