<div class="downloads-box">
Download git-cola

<div class="downloads">
	The latest stable git-cola release is<br />
	<span style="font-size: 20pt;">
		<strong>v{{ site.cola_version }}</strong>
	</span>
	<br />
	<a href="{{ page.prefix }}share/doc/git-cola/html/relnotes.html">release notes</a>
	({{ site.cola_release_date }})
	<br />
	<br />

	<table width="100%">
	<tbody>
	<tr>
	<td width="33%">
		<a href="{{ site.cola_downloads }}/git-cola-{{ site.cola_version }}.exe"
		><img src="images/windows_big.png" alt="tarball logo"/></a>
	</td>
	<td width="33%">
		<a href="{{ site.cola_downloads }}/git-cola-{{ site.cola_version }}.app.tar.gz"
		><img src="images/osx_big.png" alt="tarball logo"/></a>
	</td>
	<td width="33%">
		<a href="{{ site.cola_downloads }}/cola-{{ site.cola_version }}.tar.gz"
		><img src="images/tux_big.png" alt="tarball logo"/></a>
	</td>

	</tr>
	<td width="33%">
		<a href="{{ site.cola_downloads }}/git-cola-{{ site.cola_version }}.exe"
			>Windows</a>
	</td>
	<td width="33%">
		<a href="{{ site.cola_downloads }}/git-cola-{{ site.cola_version }}.app.tar.gz"
			>Mac OSX</a>
	</td>
	<td width="33%">
		<a href="{{ site.cola_github }}/tarball/v{{ site.cola_version }}"
			>Source</a>
	</td>
	<tr>
	</tr>
	</tbody>
	</table>
	<br />
	<a href="{{ site.cola_github }}/downloads">Older Releases</a>
	<br />
	<a href="{{ site.cola_github }}">Git Source Repository</a>
</div>
</div>
