<style>
.links {
	float: right;
	text-align: right;
	margin-right: 1em;
	font-weight: bold;
	z-index: 2;
}

.links ul {
	margin-top: 0;
}

.links a, .links a:visited {
	padding: 12px;
}

.links a:hover {
	padding: 12px;
	color: #fff;
	background-color: #085f00;
}

</style>

<div class="links">

<a href="downloads.html">Download</a></li>
<a href="share/doc/git-cola/hotkeys.html">Keyboard Shortcuts</a></li>
<a href="https://git-cola.readthedocs.io/en/latest/">Documentation</a></li>
<a href="screenshots.html">Screenshots</a></li>
<a href="https://github.com/git-cola/git-cola">Source</a></li>
<a href="about.html">About</a></li>

</div>
