<style>
.links {
	float: right;
	text-align: right;
	margin-right: 1em;
	font-weight: bold;
	z-index: 2;
}

.links ul {
	margin-top: 0;
}
</style>

<div class="links">
<ul>
<li><a href="downloads.html">Download Git Cola</a></li>
<li><a href="share/doc/git-cola/hotkeys.html">Keyboard Shortcuts</a></li>
<li><a href="https://git-cola.readthedocs.io/en/latest/">Documentation</a></li>
<li><a href="screenshots.html">Screenshots</a></li>
<li><a href="https://groups.google.com/group/git-cola">Mailing List</a></li>
</li>
</ul>
</div>
