<style>
.links {
    float: right;
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
    z-index: 2;
}

.links ul {
    margin-top: 0;
}

</style>

<div class="links">

<a href="downloads.html">Download</a></li> &compfn;
<a href="share/doc/git-cola/hotkeys.html">Keyboard Shortcuts</a></li> &compfn;
<a href="https://git-cola.readthedocs.io/en/latest/">Documentation</a></li> &compfn;
<a href="screenshots.html">Screenshots</a></li> &compfn;
<a href="https://github.com/git-cola/git-cola">Source</a></li> &compfn;
<a href="about.html">About</a></li>

</div>
