<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css"  href="{{ page.prefix }}cola.css" />
<link rel="icon" type="image/png" href="{{ page.prefix }}images/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="git-cola news feed"
	href="{{ site.cola_github }}/commits/master.atom" />
</head>
<body>

<div class="logo-top">
</div>

<div class="pagetop">
<a href="{{ page.prefix }}index.html">
	<img src="{{ page.prefix }}images/logo-top.png" alt="git-cola logo" />
</a>
</div>

<a href="https://github.com/git-cola/git-cola"><img
	style="position: absolute; top: 0; left: 0; border: 0; z-index: 2;"
	src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"
	alt="Fork me on GitHub" /></a>

{{ content }}

</body>
</html>
