<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css"  href="{{ page.prefix }}cola.css" />
<link rel="icon" type="image/png" href="{{ page.prefix }}images/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="git-cola news feed" href="{{ page.prefix }}atom.xml" />
</head>

<body>
<div class="pagetop">
<img src="{{ page.prefix }}images/logo-cola.png" alt="git-cola logo" />
</div>

<!-- + logo-top -->
{{ content }}
<!-- - logo-top -->

</body>
</html>
